h1 {
    text-align: center;
}

.start {

}

#gamePiece {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    animation: slidein;
    animation: slideout;
}

.redPlayer {
    background: #FF0000;
    border: 15px solid #E50000;
}

.yellowPlayer {
    background: #FFFC19;
    border: 15px solid #FFE300;
}

.board {
    display:
}

.rows {}

.columns {
    display: inline-block;
    animation: drop;
}

@keyframes drop {
    50% {
        top: 100px;
    }
    75% {
        top: 100px;
    }
}

@-webkit-keyframes drop {
    50% {
        top: 100px;
    }
    75% {
        top: 100px;
    }
}

@-moz-keyframes drop {
    50% {
        top: 100px;
    }
    75% {
        top: 100px;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideout {
    25% {
        left: 100px;
    }
    50% {
        left: 100px;
    }
}

@-webkit-keyframes slideout {
    25% {
        left: 100px;
    }
    50% {
        left: 100px;
    }
}

@-moz-keyframes slideout {
    25% {
        left: 100px;
    }
    50% {
        left: 100px;
    }
}


/* source: used dash to determine color shapes for game pieces

radial-gradient(circle, white 15%, transparent 40%), #cc5;
