body {
    text-align: center;
}

#gamePiece {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    animation: slidein;
    animation: slideout;
}

/*source: used dash to determine color shapes for game pieces*/

.redPlayer {
    background: #FF0000;
    border: 15px solid #E50000;
}

.yellowPlayer {
    background: #FFFC19;
    border: 15px solid #FFE300;
}

.board {
    height: 400px;
    background-color: blue;
}

.rows {
    height: 48px;
    border-radius: 50px;
}

.columns {
    display: inline-block;
    animation: drop;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: white;
    z-index: -1;
}
